__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

.env/
.venv/
venv/
ENV/
env.bak/
venv.bak/

.DS_Store
Thumbs.db

.env

input.json
output.json

*.sqlite3
*.tar

.cache/
*.tmp

docker-compose.override.yml
